{% extends "base.html" %}

{% block content %}
    <div class="jumbotron">
      <h1 class="display-4">Information about dealerships "</h1>
      <p class="lead">On this page you can view and edit dealerships.</p>
      <hr class="my-4">
      <p>To do something, click on the buttons</p>
        <a href="{{ url_for('add_dealer') }}">
            <button type="button" class="btn btn-secondary">Add a dealership</button>
        </a>
    </div>
    {% for item in dealers %}
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h3 class="card-title">{{ item[1] }}</h3>
            <p class="card-text">{{ item[2] }}</p>
            <a href="/dealer/{{ item[0] }}" class="btn btn-primary">More</a>
          </div>
        </div>
    {% endfor %}
{% endblock %}