{% extends "base.html" %}

{% block content %}
    <div class="jumbotron">
      <h1 class="display-4">Information about motorcycles</h1>
      <p class="lead">On this page you can view and edit motorcycles.</p>
      <hr class="my-4">
      <p>To do something, click on the buttons</p>
        <a href="{{ url_for('add_motorcycle') }}">
            <button type="button" class="btn btn-secondary">Add motorcycle</button>
        </a>
    </div>
    {% for item in cars %}
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h3 class="card-title">{{ item[0] }}</h3>
            <p class="card-text">{{ item[1] }}</p>
            <a href="/motorcycle/{{ item[2] }}" class="btn btn-primary">More</a>
          </div>
        </div>
    {% endfor %}
{% endblock %}